// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$borde:    black;
$lima:     #00FF00; // lime
$amarillo: #FFFF00; // yellow
$rojo:     #FF0000; // red
$gris:     #778899; // gray
$negro:    #000000; // black
$blanco:   #FFFFFF; // white

.en-lima {
	font-size: 12px;
	line-height:0px;
	border:    1px solid $borde;
	padding: 8px;
	background-color: #00FF00;
	border-radius: 25px;
	width: 100%
	}

.en-amarillo {
	font-size: 12px;
	line-height:0px;
	border:    1px solid $borde;
	padding: 8px;
	background-color: $amarillo;
	border-radius: 25px;
	width: 100%
	}

.en-rojo {
	font-size: 12px;
	color: white;
	line-height:0px;
	border:    1px solid $borde;
	padding: 8px;
	background-color: $rojo;
	border-radius: 25px;
	width: 100%
	}

.en-gris {
	font-size: 12px;
	line-height:0px;
	border:    1px solid $borde;
	padding: 8px;
	background-color: $gris;
	border-radius: 25px;
	width: 100%
	}

.en-negro {
	font-size: 12px;
	color: white;
	line-height:0px;
	border:    1px solid $borde;
	padding: 8px;
	background-color: $negro;
	border-radius: 25px;
	width: 100%
	}

.en-blanco {
	line-height:0px;
	border:    1px solid $borde;
	padding: 8px;
	background-color: $blanco;
	border-radius: 25px;
	width: 100%
	}

.verde-sms {
	color: #2ECC71;
}

.gris {
	color: $gris;
}