<p>Hola 
  <%= @resource.nombre %>
  <%= @resource.apellido %>!
</p>

<P> Se ha solicitado cambiar su contraseña. Puede hacerlo a través del siguiente enlace. </P>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<P> Si no lo solicitó, ignore este correo electrónico. </P>
<P> Su contraseña no cambiará hasta que acceda al enlace anterior y cree uno nuevo.</P>
<br><br>

<%= render "devise/shared/de_interes" %>
