<!DOCTYPE html>
<html>
	<head>
		<title>Modulo</title>
		<%#= favicon_link_tag 'favicon.ico' %>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<%= csrf_meta_tags %>

	</head>

	<body>
		<div class="container">
			<%= yield %>
		</div>
		<br>
	</body>
</html>
